
.logo {
  width: 5em;
  margin: 0 auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.side-nav {
  @include position(fixed, 0px null null 0px);

  background-color: lighten($background-color, 2%);
  border-right: 1px solid $heading-background-color;
  overflow: auto;
  display: none;
  height: 100%;

  @include media($medium-screen) {
    width: $docs-nav-width;
    display: block;
  }
}

.list {
  margin: 0;
  padding: 0;
}

.list-group {
  @include border-color(null null $heading-background-color null);
  @include border-width(0 0 1px 0);
  @include border-style(null null solid null);
  @include transition(max-height 300ms ease-in);

  margin: 0;
  background: rgba($heading-background-color, 0.5);
  padding: 0;
  max-height: 55px;
  overflow: hidden;

  &.expanded {
    @include transition(max-height 300ms ease-in);
  }
}

.list-group-title {
  margin: 0;
  padding: unpack(0.8rem 1.5rem);
  font-size: 1.4em;
  color: shade($background-color, 60%);
  cursor: pointer;
  position: relative;

  &:after {
    @include triangle(12px, gray, down);

    content : '';
    position: absolute;
    right: 20px;
    top: 50%;

    .expanded & {
      @include triangle(12px, gray, up);

      border-top: none;
    }
  }
}

.list-item {
  list-style-type: none;

  &:first-of-type {
    .list-item__link {
      border-top: 1px solid $heading-background-color;
    }
  }

  &.deprecated {
    text-decoration: line-through;
  }

  &:last-child {
    a {
      border-bottom: none;
    }
  }
}

.list-item__link {
  @include transition;

  border-bottom: 1px solid $heading-background-color;
  background: #fff;
  color: #555;
  display: block;
  padding: 0.7rem 1.5rem;
  position: relative;

  &:hover {
    background: #FFF;
  }

  &.active,
  &.inview {
    &:before {
      @include position(absolute, 1.2em 1em null null);
      @include size(8px);

      background: #CCC;
      border-radius: 50%;
      content: '';
      display: block;
    }
  }

  &.active {
    &:before {
      background: $orange;
    }
  }
}

.list-title {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}

.list-title__link {
  @extend %style--type-heading;

  padding: 0.75rem 1.5rem;
  font-size: inherit;
}

.social {
  @include clearfix;

  background: shade($background-color, 50%);
  margin-top: 0;
  padding: .25em 4em;
}

.social-item {
  @include calc(width, '100% / 3');

  display: inline-block;
  float: left;
}

.social-link {
  @include hide-text;
  @include size(25px);

  background: url('../images/social-icons.svg') no-repeat center center;
  background-size: 300%;
  display: block;
  margin: 0 auto;
}
